.Container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "Nav  "
    "Header "
    "Main "
    "Footer";
}

.Nav {
  background-color: rgb(32, 6, 32);
  grid-area: Nav;
}

/* Header Carrucel */

.Header {
  grid-area: Header;
}
.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: beige;
}

h3 {
  color: white;
}

.caption {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 740px;
  justify-content: center;
  text-align: center;
}

/* Aside */

.section_lateral {
  width: 20%;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  background-color: rgb(112, 84, 11);
  color: white;
  background-clip: padding-box;
  border-image-slice: 1;
  border-right: 2px solid;
  border-image-source: linear-gradient(
    to right,
    rgba(223, 5, 5, 1),
    rgba(235, 244, 60, 1)
  );
}

.Category {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 0;
  left: 0;
  padding-top: 30px;
  text-align: center;
  z-index: 100;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 95px;
  font-size: 25px;
  box-shadow: inset 5px 5px 5px rgba(44, 49, 54, 0.05),
    inset -5px -5px 5px rgba(176, 199, 92, 0.5),
    5px 5px 5px rgba(187, 196, 176, 0.05), -5px -5px 5px rgba(199, 223, 68, 0.5);
}

.menu__desayuno {
  background-image: url("./assets/img/desayuno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.menu_almuerzo {
  background-image: url("./assets/img/almuerzo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(253, 246, 246);
}

.menu_parrilladas{
  background-image: url("./assets/img/parrilladas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(253, 246, 246);
}

.menu_postres{
  background-image: url("./assets/img/postres.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(253, 246, 246);
}

.menu_licores{
  background-image: url("./assets/img/licores.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(253, 246, 246);
}

/*Main*/
.MenuContainer {
  grid-area: Main;
 
  display: flex;
  height: auto;
  width: 100%;
}

.letterMenu {
  display: flex;
  width: 80%;
  background-image: url("./assets/img/backgrounddd.jpeg");
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  padding: 20px;
}
.Card {
  display: flex;
  height: auto;
  box-shadow: inset 5px 5px 5px rgba(44, 49, 54, 0.05),
    inset -5px -5px 5px rgba(176, 199, 92, 0.5),
    5px 5px 5px rgba(187, 196, 176, 0.05), -5px -5px 5px rgba(199, 223, 68, 0.5);
  border-radius: 15px;
}

.img {
  height: 250px;
}

.cardBody {
  text-align: center;
  color: whitesmoke;
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.title {
  color: antiquewhite;
  font-weight: bold;
}

/*Carrito*/
.ContainerCart {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Cart {
  display: flex;
  gap: 50px;
}

.cartProduct {
  box-shadow: inset 5px 5px 5px rgba(44, 49, 54, 0.05),
    inset -5px -5px 5px rgba(176, 199, 92, 0.5),
    5px 5px 5px rgba(187, 196, 176, 0.05), -5px -5px 5px rgba(199, 223, 68, 0.5);
}

.cartBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartTotal {
  background-color: white;
  height: 350px;
  box-shadow: inset 5px 5px 5px rgba(44, 49, 54, 0.05),
    inset -5px -5px 5px rgba(176, 199, 92, 0.5),
    5px 5px 5px rgba(187, 196, 176, 0.05), -5px -5px 5px rgba(199, 223, 68, 0.5);
}

/*Footer*/

.footer {
  display: Footer;
  background-color: rgb(32, 6, 32);
  text-align: center;
}
