.Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Nav {
  background-color: rgb(32, 6, 32);
  grid-area: Nav;
}

/* Header Carrucel */

.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: beige;
}

h3 {
  color: white;
}

.caption {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 740px;
  justify-content: center;
  text-align: center;
}

/* Aside */

.section_lateral {
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  background-color: darkgray;
  color: white;
}

.Category {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 0;
  left: 0;
  padding-top: 30px;
  text-align: center;
  z-index: 100;
 
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 95px;
  font-size: 25px;
}

.menu__desayuno {
  background-image: url("./assets/img/desayuno.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.menu_almuerzo {
  background-image: url("./assets/img/almuerzo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(253, 246, 246);
}

/*Main*/
.MenuContainer{
  display: flex;
  height: auto;
}


.Card {
  height: auto;
  width: 320px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background: rgba(71, 16, 71, 0.486);
}

.img {
  height: 250px;
}

.cardBody {
  text-align: center;
  color: whitesmoke;
  background-color: rgba(109, 45, 109, 0.678);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.title {
  color: antiquewhite;
  font-weight: bold;
}

/*Carrito*/
.ContainerCart{
  flex: 1;
  height: auto;
}
.Cart {
  display: flex;
  gap: 12px;
}

/*Footer*/

.footer {
  background-color: rgb(32, 6, 32);
  text-align: center;
  
}
